<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALeLzRydIqyVOaccphlPp7Nk6JEh0GLVM</string>
	<key>GCM_SENDER_ID</key>
	<string>898428059117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stockmaster</string>
	<key>PROJECT_ID</key>
	<string>stockmaster-de428</string>
	<key>STORAGE_BUCKET</key>
	<string>stockmaster-de428.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898428059117:ios:ca4e9892c239d0854f7be4</string>
</dict>
</plist>